snippet i
#include <${0}.h>
endsnippet

snippet m
int main() {
  ${0}
}
endsnippet

snippet v
void ${0}
endsnippet

snippet p
printf("${1}"${0});
endsnippet

snippet r
return ${0};
endsnippet

snippet fc
fclose(${0:fp});
endsnippet

snippet fp
fprintf(${1}, "${2}", $0);
endsnippet

snippet pe
perror("$0");
endsnippet

snippet cont
continue;
endsnippet

snippet if
if ($1) {
  $0
}
endsnippet
