snippet r
return $0
endsnippet

snippet e
end
`!v execute(":<1")`
endsnippet

snippet x
export $0
endsnippet

snippet f
function $0
endsnippet

snippet eo
echo $0
endsnippet

snippet er
error $0
endsnippet

snippet mkd
mkdir $0
endsnippet

snippet rm
remove $0
endsnippet
