snippet html
<!doctype html>
<html>
  <head>
  </head>
  <body>
    ${0:<h1>Hello World :)</h1>}
  </body>
</html>
endsnippet

snippet css
<style type="text/css">
  ${0}
</style>
endsnippet

snippet js
<script type="text/javascript">
  ${0}
</script>
endsnippet

snippet c
const $0
endsnippet
