snippet cl
public class `!p snip.rv = snip.basename` {
  $0
}
endsnippet

snippet psvm
public static void main(String[] args) {
  $0
}
endsnippet

snippet main
void main() {
  $0
}

snippet p
System.out.println("$0");
endsnippet

snippet i
import $0
endsnippet

snippet pr
private $0
endsnippet
