snippet d
debugger
endsnippet

snippet r
return $0
endsnippet

snippet c
const $0
endsnippet

snippet a
async $0
endsnippet

snippet f
function $0
endsnippet

snippet i
import $0
endsnippet

snippet l
console.log($0)
endsnippet

snippet w
window
endsnippet
