snippet main
if __name__ == '__main__':
    main()
endsnippet

snippet i
import ${0}
endsnippet

snippet p
print(${0})
endsnippet

snippet pr
print('${0}')
endsnippet

snippet d
breakpoint()
endsnippet

snippet t
True
endsnippet

snippet T
True
endsnippet

snippet f
False
endsnippet

snippet r
return ${0}
endsnippet

snippet fr
from ${1} import ${0}
endsnippet

snippet cl
class ${0}
endsnippet

snippet c
class ${0}
endsnippet
